# If you come from bash you might have to change your $PATH.
 export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
 export PATH="$PATH:$HOME/.rvm/bin"
 export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
 export PATH="/usr/local/opt/sqlite/bin:$PATH"
 export ZSH=/Users/aalex/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="robbyrussell"
#ZSH_THEME="darkblood"
# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
 DISABLE_AUTO_UPDATE="falese"

# Uncomment the following line to change how often to auto-update (in days).
 export UPDATE_ZSH_DAYS=1

# Uncomment the following line to disable colors in ls.
 DISABLE_LS_COLORS="false"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
 ENABLE_CORRECTION="false"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
 DISABLE_UNTRACKED_FILES_DIRTY="false"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
 HIST_STAMPS="yyyy-mm-dd"

# Would you like to use another custom folder than $ZSH/custom?
 ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git autojump)

source $ZSH/oh-my-zsh.sh

# User configuration

 export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
 export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
 if [[ -n $SSH_CONNECTION ]]; then
   export EDITOR='vim'
 else
   export EDITOR='mvim'
 fi

# Compilation flags
 export ARCHFLAGS="-arch x86_64"

 #ssh
 export SSH_KEY_PATH="~/.ssh/rsa_id"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
 alias zshconfig="mate ~/.zshrc"
 alias ohmyzsh="mate ~/.oh-my-zsh"
 alias clc='clear all'
 alias gaa='git add --all'
 alias mygcm='git commit -m'
 alias lssd='sudo lsof -PiTCP -sTCP:LISTEN''
 alias mygcm='git commit -m'
 alias lssd='sudo lsof -PiTCP -sTCP:LISTEN''
 alias nssd='sudo netstat -ap tcp | grep -i "listen"'
 export CC=/usr/local/Cellar/gcc/7.1.0/bin/gcc-7
 export CXX=/usr/local/Cellar/gcc/7.1.0/bin/g++-7
 export CPP=/usr/local/Cellar/gcc/7.1.0/bin/cpp-7
 export LD=/usr/local/Cellar/gcc/7.1.0/bin/gcc-7
 alias c++=/usr/local/Cellar/gcc/7.1.0/bin/c++-7
 alias g++=/usr/local/Cellar/gcc/7.1.0/bin/g++-7
 alias gcc=/usr/local/Cellar/gcc/7.1.0/bin/gcc-7
 alias cpp=/usr/local/Cellar/gcc/7.1.0/bin/cpp-7
 alias ld=/usr/local/Cellar/gcc/7.1.0/bin/gcc-7
 alias cc=/usr/local/Cellar/gcc/7.1.0/bin/gcc-7
 alias vi=mvim
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias crmo='chrome-cli open'      #<url>  (Open url in new tab)
alias cano='chrome-canary-cli open'
alias cmmo='chromium-cli open'
alias sfro='bash /usr/local/etc/sfro.bash'
#chrome-cli open -n   #<url> -n  (Open url in new window)
#chrome-cli open -i   #<url> -i  (Open url in new incognito window)
#chrome-cli open -t   #<url> -t <id>  (Open url in specific tab)
#chrome-cli open -w   #<url> -w <id>  (Open url in new tab in specific window)
alias crmc='chrome-cli close'     #(Close active tab)
alias canc='chrome-canary-cli close'
alias cmmc='chromium-cli close'
#alias sfro='/Applications/Safari.app/Contents/MacOS/Safari & sleep 1 && osascript -e 'tell application "Safari" to open location "https://www.google.com.hk"''
#chrome-cli close -w  #(Close active window)

alias nss-start='nohup node /usr/local/etc/shadowsocks-node.js/local.js -c /usr/local/etc/shadowsocks-node.js/config.json >> /usr/local/etc/shadowsocks-node.js/nssl.log 2>&1 &'
#alias css-start='nohup ss-local -s jpn.aalexu.com -p 33305 -k aHE8NA5d -b 127.0.0.1 -l 8080 -m rc4-md5 -u >> /usr/local/etc/shadowsocks-node.js/cssl.log 2>&1 &'
alias pss-start='sudo sslocal -s jpn.alexxu.net -p 33305 -k aHE8NA5d -b 127.0.0.1 -l 1080 -m rc4-md5 --user aalex -d start'

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
alias list2pac='/Library/Frameworks/Python.framework/Versions/2.7/bin/gfwlist2pac'
#export PATH="/usr/local/opt/sqlite/bin:$PATH"
